#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.option-container {
  width: 30%;
}

/* 手机端：宽度小于 768px 时 */
@media (max-width: 767px) {
  .container {
    flex-direction: column; /* 改为垂直排列 */
  }
  .option-container {
    width: 80vw;
  }
}

.sticker {
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8%;
  user-select: none;
  transition: all 0.1s ease;
}

.sticker:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.sticker:active {
  transform: scale(0.95) translateY(-1px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  filter: brightness(0.9);
}
