#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:start;
  gap: 20px;
}

/* 手机端：宽度小于 768px 时 */
@media (max-width: 767px) {
  .container {
    flex-direction: column; /* 改为垂直排列 */
  }
}
